<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User profile</title>
    <% include ./partials/_head %>
  </head>
  <% include ./partials/_header %>
  <body>
    <div class="big-container">
      <h3>Hi, <%= name %>! <small>This is your profile page</small></h3>
      <p>Email: <%= email %><p>
        <div class="input-form-container">
        <div class="card" style="width: 30rem; background-color: #D6DBF1;">
          <div class="card-body">
            <form action="/users" method="POST">
              <div class="form-group">
                <label for="name">YName</label>
                <input type="text" name="name" class="form-control" value="<%= name %>">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" value="<%= password %>">
              </div>
              <div class="form-group">
                <label for="favorite_food">Favorite Food</label>
                <input type="text" name="favorite_food" class="form-control" value="<%= favorite_food %>">
              </div>
              <div class="form-group">
                <label for="description">Tell us about yourself</label>
                <input type="text" name="description" class="form-control" value="<%= description %>">
              </div>
              <button type="submit" name="update-user" class="btn btn-dark">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
