<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User profile</title>
    <% include ./partials/_head %>
  </head>
  <div class="container">
    <header class="blog-header py-3">
      <% include ./partials/_header %>
    </header>
  </div>
  <body>
    <h1>Profile</h1>
    <form action="/users" method="POST">
      <p><%= email %></p>
      <input type="text" name="name" class="form-control" value="<%= name %>"/>
      <input type="text" name="password" class="form-control" value="<%= password %>"/>
      <input type="text" name="favorite_food" class="form-control" value="<%= favorite_food %>"/>
      <input type="text" name="description" class="form-control" value="<%= description %>"/>
      <button type="submit" name="update-user" class="btn btn-dark">Register</button>
    </form>
  </body>
</html>
